asttokens==2.4.1
backcall==0.2.0
decorator==4.4.2
executing==2.0.1
ipython==8.12.3
jedi==0.19.1
matplotlib-inline==0.1.7
meshcat==0.3.2
numpy==1.17.4
olefile==0.46
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
Pillow==7.0.0
prompt-toolkit==3.0.47
ptyprocess==0.7.0
pure-eval==0.2.2
pygments==2.18.0
pyngrok==7.1.6
PyYAML==6.0.1
pyzmq==26.0.3
scipy==1.3.3
six==1.16.0
stack-data==0.6.3
tornado==6.4.1
traitlets==5.14.3
typing-extensions==4.12.2
u-msgpack-python==2.8.0
wcwidth==0.2.13
